@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: #e6ccb2;
}

.board {
  width: 150px;
  height: 150px;
  padding: 5px;
}

.board > .tiles {
  background: #ede0d4;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.board.exists > .tiles._2 {
  background-color: white;
  /* color: #757070; */
  color: #7f5539;
}

.board.exists > .tiles._4 {
  background-color: #fbf4d8;
  /* color: #757070; */
  color: #7f5539;
}

.board.exists > .tiles._8 {
  background-color: #f5ba73;
  color: white;
}

.board.exists > .tiles._16 {
  background-color: #e08c5f;
  color: white;
}

.board.exists > .tiles._32 {
  background-color: #fb774d;
  color: white;
}

.board.exists > .tiles._64 {
  background-color: #f44336;
  color: white;
}

.board.exists > .tiles._128 {
  background-color: #f5d575;
  color: white;
}

.board.exists > .tiles._256 {
  background-color: #ffc107;
  color: white;
}

.board.exists > .tiles._512 {
  background-color: #ff9800;
  color: white;
}

.board.exists > .tiles._1024 {
  background-color: #ffca28;
  color: white;
}

.board.exists > .tiles._2048 {
  background-color: #795548;
  color: white;
}

.board.exists > .tiles._4096 {
  background-color: #302826;
  color: white;
}

@media only screen and (max-width: 415px) {
  .board {
    width: 80px;
    height: 80px;
    padding: 5px;
  }

  .board > .tiles {
    font-size: 18px;
  }
}

@media only screen and (max-width: 750px) {
  .board {
    width: 100px;
    height: 100px;
    padding: 5px;
  }

  .board > .tiles {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1800px) {
  .board {
    width: 125px;
    height: 125px;
    padding: 5px;
  }

  .board > .tiles {
    font-size: 42px;
  }
}
